<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Tap Save control diagnostic" android:allowBackup="false" />
    <instrumentation android:name=".Inspector" android:targetPackage="io.github.ahmed9461.tapsave.probe" android:label="Instagram control inspection" />
</manifest>
